.file--chose-container{
  background-color: indianred;
  width: 60%;
  display: flex;
  margin: 0 auto;
  height: 40%;
  padding: 5%;
  flex-direction: column;
  border-radius: 5%;
}

input{
  font-size: 2vh;
}

button{
  max-width: 30%;
  margin: 0 auto;
}

